.navbar{
    background-color:var(--dark-color) ;
    box-shadow: none!important;
}

.navbar .nav-link{
    font-size: 16px;
    line-height: 21px;
    color: var(--light-color);
}

.top-nav-collapse {
    background-color:var(--dark-color);
}

.navbar .nav-link:hover,
.navbar .nav-link:active
{
    color: var(--primary-color);
}

.home-container{
    height: 720px;
    background-color:var(--dark-color);
   
}
.home-intro{
    color:var(--light-color);
}

.home-cards-row{
    justify-content: center;
    margin-top: -71px;
}

.home-card{
    width: 20%;
    background-color: #F2F4F7;;
    text-align: center;
    box-shadow: 1px 2px 9px rgba(55, 20, 153, 0.1);
    border-radius: 8px;
    margin: 0px 1.5px ;
}

.home-card-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 8px;
}

/* 
main section,
main section section{
padding-top: 10vh;
}

.section-title{
    font-weight: 500;
}

.masthead{
    margin-bottom: 15vh;
}
.navbar, .home-container{
    box-shadow: none!important;
}

.navbar .nav-item .nav-link{
    font-size: 1rem;
    line-height: 1.5rem;
}
.navbar .nav-item .nav-link:active,
.navbar .nav-item .nav-link.active{
color:#aa66cc!important;
}

.top-nav-collapse {
    background-color: black; }

.navbar-brand{
    font-weight: bold;
    font-size: 1.33rem!important;
    line-height: 36px;    
    color: #FEFEFE!important;
letter-spacing: 0.5px;
}


.home-container{
    background: inherit;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex; justify-content: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  
} */
/* 

.side-nav{
    width:2.5rem;
    height:2.5rem;
    border: 1px #F4F4F4 solid;
    border-radius: 50%; 
    box-shadow: 0px 0px 2px #888;
}

.main-bodyText{
    padding: 0 1.5rem;
    max-width: 500px;
    margin-bottom: 20vh!important;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

.cover-leadText{
    font-size: 1.5rem!important;
    line-height: 2.25rem;
  
}
.side-nav-block{
    left: 90%
}
 */


