.main-about-row{
  
}

.about-me-title{
    line-height: 48px;
    color: var(--dark-color);
    font-weight: bold;
}

.about-me-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-cards-row{
    justify-content: center;
}

.about-card{
    width: 237px;
    background-color: #F2F4F7;;
    text-align: center;
    box-shadow: 1px 2px 4px rgba(25, 61, 115, 0.1);
    border-radius: 8px;
    margin: 0px 40px ;
}

.stats-row{
    background-color: var(--dark-color);
    color:  var(--light-color);
    justify-content: center;
}
.stat-block{
    text-align: center;
    margin: 0px 90px;
    text-align: center;
}
.stat-circle{
   
    vertical-align: middle;
    background-color: var(--light-color);
    color:  var(--dark-color);
    height: 68px;
    width: 68px;
    line-height: 68px;
    border-radius: 50%;
    margin: 0 auto 32px;
    font-weight: 600;

}

.companies-logo-block img{
    width:100%
}



.projects-intro{
    background-color: var(--dark-color);
    color: var(--light-color);
}

.projects-row{
    margin-top: -60px;
}

.project-card{
    background: #F2F4F7;
    box-shadow: 1px 2px 9px rgba(55, 20, 153, 0.1);
    border-radius: 8px;
    max-width: 288px!important;
    text-align: center;
    margin: 6px 1.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.project-card img{
    padding-bottom: 24px;
}

.project-card a{
    color: var(--dark-color);
    text-decoration: underline;
}


.testimonial-card{
    color: #F2F4F7;
    background-color: var(--dark-color);
    border-radius: 8px;
}

.testimonial-card img{
    float: left;
}

.testimonial-head{
    font-weight: 500;
}

.testimonial-head span{
    font-weight: 600;
}

.testimonial-body span{
    font-weight: 600;
    font-size: 32px; 
    color: #E43A19;
    position: absolute;
    z-index: 2;
    transform: translateY(-12px);
    
}

.form-control{
    background-color: transparent!important;
}

.footer{
    background-color: var(--dark-color);
    color:  var(--light-color); 
}

.contact-row a{
    font-size: 24px;
}

@media (max-width:1300px){

    .about-card{
        margin: 0px 30px ;
    }
}

@media (max-width:1199px){

    .about-card{
        margin: 0px 15px ;
        width: 200px;
    }

    .stat-block{
        text-align: center;
        margin: 0px 50px;
        text-align: center;
    }


}


@media (max-width:950px){

    .about-card{
        margin: 0px 40px ;
        width: 230px;
    }

 
}

@media (max-width:870px){

    .stat-block{
        text-align: center;
        margin: 0px 90px;
        text-align: center;
    }
}



@media (max-width:768px){

    .stat-circle{
        margin: 0 auto 14px;
    
    }
    .projects-row{
        margin-top: 20px;
    }
    
}
@media (max-width:576px){
    .companies-logo-block img{
        width:30%
    }
  
}